/* Font Dependencies */
@import url(https://fonts.googleapis.com/css?family=Montserrat);


/* Default Layout */
.flip-flop-notice-container {
  display: block;
  height: 74px;
  margin: 0 auto 16px;
  position: relative;
  width: 960px;
}
  .flip-flop-notice-container .desktop-only {}
  body:not(.mobile-layout) .flip-flop-notice-container .mobile-only {
    display: none;
  }
  a.flip-flop-notice-link {
    background: transparent no-repeat;
    background-image: url(../images/views_home_desktop.jpg);
    background-size: cover;
    background-position: 50% 50%;
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  a.flip-flop-notice-link:before {
    content: "";
    display: block;
    height: 100px;
    width: 100%;
  }
  .flip-flop-notice-container.views_home
  a.flip-flop-notice-link * {
    display: none;
  }


/* Desktop Themes
*******************************************************************************
 */


/* Context: Views Home */
  .flip-flop-notice-container.views_home
  a.flip-flop-notice-link {
    background-image: url(../images/views_home_desktop.jpg);
  }

/* Context: Views Category */
  .flip-flop-notice-container.views_category
  a.flip-flop-notice-link {
    background-image: url(../images/views_category_desktop.jpg);
  }

/* Context: Views Special Category */
  .flip-flop-notice-container.views_special_category
  a.flip-flop-notice-link {
    background-image: url(../images/views_special_category_desktop.png);
  }

/* Context: Views Special Category */
.flip-flop-notice-container.views_special_product {
  height: 44px;
}
  .flip-flop-notice-container.views_special_product
  a.flip-flop-notice-link {
    background-image: url(../images/views_special_product_desktop.png);
  }

/* Context: Cart With Qualifier */
.flip-flop-notice-container.cart_with_qualifier {
  width: 558px;
  height: 69px;
}
  .flip-flop-notice-container.cart_with_qualifier
  a.flip-flop-notice-link {
    background-image: url(../images/cart_with_qualifier_desktop.png);
  }

/* Context: Cart Without Qualifier */
.flip-flop-notice-container.cart_without_qualifier {
  width: 558px;
  height: 69px;
}
  .flip-flop-notice-container.cart_without_qualifier
  a.flip-flop-notice-link {
    background-image: url(../images/cart_without_qualifier_desktop.jpg);
  }


/* Mobile Themes
*******************************************************************************
 */

/* Default Mobile */
body.mobile-layout
.flip-flop-notice-container {
  width: 320px;
}
  body.mobile-layout
  .flip-flop-notice-container
  a.flip-flop-notice-link {
    background-image: url(../images/views_home_mobile.jpg);
  }

/* Context, Mobile: Views Home */
body.mobile-layout
.flip-flop-notice-container.views_home {
  margin-bottom: 0;
}
  body.mobile-layout
  .flip-flop-notice-container.views_home
  a.flip-flop-notice-link {
    background-image: url(../images/views_home_mobile.jpg);
  }

/* Context, Mobile: Views Category */
  body.mobile-layout
  .flip-flop-notice-container.views_category
  a.flip-flop-notice-link {
    background-image: url(../images/views_home_mobile.jpg);
  }

/* Context, Mobile: Views Special Category */
body.mobile-layout
.flip-flop-notice-container.views_special_category {
  height: 32px;
}
  body.mobile-layout
  .flip-flop-notice-container.views_special_category
  a.flip-flop-notice-link {
    background-image: url(../images/views_special_category_mobile.png);
  }

/* Context, Mobile: Views Special Category */
body.mobile-layout
.flip-flop-notice-container.views_special_product {
  height: 32px;
}
  body.mobile-layout
  .flip-flop-notice-container.views_special_product
  a.flip-flop-notice-link {
    background-image: url(../images/views_special_product_mobile.jpg);
  }

/* Context, Mobile: Cart With Qualifier */
body.mobile-layout
.flip-flop-notice-container.cart_with_qualifier {
  width: 300px;
  height: 84px;
}
  body.mobile-layout
  .flip-flop-notice-container.cart_with_qualifier
  a.flip-flop-notice-link {
    background-image: url(../images/cart_with_qualifier_mobile.png);
  }

/* Context, Mobile: Cart Without Qualifier */
body.mobile-layout
.flip-flop-notice-container.cart_without_qualifier {
  width: 300px;
  height: 84px;
}
  body.mobile-layout
  .flip-flop-notice-container.cart_without_qualifier
  a.flip-flop-notice-link {
    background-image: url(../images/cart_without_qualifier_mobile.jpg);
  }
